In [1]:
#Jack Baxter
#Assignment 2.1: Data Lake
#AAI-540

In [2]:
#dependencies, s3 bucket
%store

Stored variables and their in-db values:
ingest_create_athena_db_passed                    -> True
ingest_create_athena_table_csv_passed             -> False
s3_assignment_path                                -> 's3://sagemaker-us-east-1-883727203134/'
s3_assignment_path_data                           -> 's3://sagemaker-us-east-1-883727203134/dataset.csv
s3_data_path                                      -> 's3://sagemaker-us-east-1-883727203134/dataset.csv
s3_public_path                                    -> 's3://sagemaker-us-east-1-883727203134/'
setup_dependencies_passed                         -> True
setup_s3_bucket_passed                            -> True

In [3]:
#load set to s3

In [4]:
!aws s3 cp dataset.csv s3://sagemaker-us-east-1-883727203134/dataset.csv

upload: ./dataset.csv to s3://sagemaker-us-east-1-883727203134/dataset.csv

In [5]:
!aws s3 ls s3://sagemaker-us-east-1-883727203134

                           PRE athena/
2026-01-20 05:18:32   20118244 dataset.csv

In [6]:
#og path
s3_data_path = 's3://sagemaker-us-east-1-883727203134/dataset.csv'
%store s3_data_path
%store

Stored 's3_data_path' (str)
Stored variables and their in-db values:
ingest_create_athena_db_passed                    -> True
ingest_create_athena_table_csv_passed             -> False
s3_assignment_path                                -> 's3://sagemaker-us-east-1-883727203134/'
s3_assignment_path_data                           -> 's3://sagemaker-us-east-1-883727203134/dataset.csv
s3_data_path                                      -> 's3://sagemaker-us-east-1-883727203134/dataset.csv
s3_public_path                                    -> 's3://sagemaker-us-east-1-883727203134/'
setup_dependencies_passed                         -> True
setup_s3_bucket_passed                            -> True

In [56]:
#private path
s3_private_path_csv = "s3://sagemaker-us-east-1-883727203134/table".format(bucket)
print(s3_private_path_csv)

s3://sagemaker-us-east-1-883727203134/table

In [7]:
#data lake/athena

In [8]:
import boto3
import sagemaker
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

In [9]:
ingest_create_athena_db_passed = False

In [10]:
from pyathena import connect

In [11]:
#dbname
database_name = "dsoaws"

In [12]:
#stage
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [13]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [14]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS dsoaws

In [15]:
import pandas as pd

pd.read_sql(statement, conn)

/tmp/ipykernel_363/3803073958.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [16]:
statement = "SHOW DATABASES"
df_show = pd.read_sql(statement, conn)
df_show.head(5)

/tmp/ipykernel_363/1677879827.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_show = pd.read_sql(statement, conn)

  database_name
0       default
1        dsoaws

In [17]:
if database_name in df_show.values:
    ingest_create_athena_db_passed = True

In [18]:
%store ingest_create_athena_db_passed

Stored 'ingest_create_athena_db_passed' (bool)

In [26]:
#params
database_name = "dsoaws"
table_name_csv = "dataset_csv2"

In [27]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [28]:
dataexplore = pd.read_csv('dataset.csv')
dataexplore.head()

,Unnamed: 0,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,0,5SuOikwiRyPMVoIQDJUgSV,Gen Hoshino,Comedy,Comedy,73,230666,False,0.676,0.4610,...,-6.746,0,0.1430,0.0322,0.000001,0.3580,0.715,87.917,4,acoustic
1,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,False,0.420,0.1660,...,-17.235,1,0.0763,0.9240,0.000006,0.1010,0.267,77.489,4,acoustic
2,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,False,0.438,0.3590,...,-9.734,1,0.0557,0.2100,0.000000,0.1170,0.120,76.332,4,acoustic
3,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,False,0.266,0.0596,...,-18.515,1,0.0363,0.9050,0.000071,0.1320,0.143,181.740,3,acoustic
4,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,False,0.618,0.4430,...,-9.681,1,0.0526,0.4690,0.000000,0.0829,0.167,119.949,4,acoustic

In [29]:
dataexplore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114000 entries, 0 to 113999
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        114000 non-null  int64
 1   track_id          114000 non-null  object
 2   artists           113999 non-null  object
 3   album_name        113999 non-null  object
 4   track_name        113999 non-null  object
 5   popularity        114000 non-null  int64
 6   duration_ms       114000 non-null  int64
 7   explicit          114000 non-null  bool
 8   danceability      114000 non-null  float64
 9   energy            114000 non-null  float64
 10  key               114000 non-null  int64
 11  loudness          114000 non-null  float64
 12  mode              114000 non-null  int64
 13  speechiness       114000 non-null  float64
 14  acousticness      114000 non-null  float64
 15  instrumentalness  114000 non-null  float64
 16  liveness          114000 non-null  float64
 17  valence           114000 non-null  float64
 18  tempo             114000 non-null  float64
 19  time_signature    114000 non-null  int64
 20  track_genre       114000 non-null  object
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 17.5+ MB

In [40]:
s3_data_path = 's3://sagemaker-us-east-1-883727203134/dataset.csv'
ingest_create_athena_table_csv_passed = False

In [60]:
!aws s3 cp s3://sagemaker-us-east-1-883727203134/dataset.csv \
           s3://sagemaker-us-east-1-883727203134/table/dataset.csv

copy: s3://sagemaker-us-east-1-883727203134/dataset.csv to s3://sagemaker-us-east-1-883727203134/table/dataset.csv

In [61]:
#sql table creation
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         Unnamed int,
         track_id string,
         artists string,
         album_name string,
         track_name string,
         popularity int,
         duration_ms int,
         explicit boolean,
         danceability float,
         energy float,
         key int,
         loudness float,
         mode int,
         speechiness float,
         acousticness float,
         instrumentalness float,
         liveness float,
         valence float,
         tempo float,
         time_signature int,
         track_genre string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\\,' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_csv
)
print(statement)

CREATE EXTERNAL TABLE IF NOT EXISTS dsoaws.dataset_csv2(
         Unnamed int,
         track_id string,
         artists string,
         album_name string,
         track_name string,
         popularity int,
         duration_ms int,
         explicit boolean,
         danceability float,
         energy float,
         key int,
         loudness float,
         mode int,
         speechiness float,
         acousticness float,
         instrumentalness float,
         liveness float,
         valence float,
         tempo float,
         time_signature int,
         track_genre string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\,' LINES TERMINATED BY '\n' LOCATION 's3://sagemaker-us-east-1-883727203134/table'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [62]:
import pandas as pd
pd.read_sql(statement, conn)

/tmp/ipykernel_363/1322682284.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [63]:
statement = "SHOW TABLES in {}".format(database_name)
df_show = pd.read_sql(statement, conn)
df_show.head(5)

/tmp/ipykernel_363/84333453.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_show = pd.read_sql(statement, conn)

       tab_name
0  dataset_csv2

In [64]:
if table_name_csv in df_show.values:
    ingest_create_athena_table_csv_passed = True
%store ingest_create_athena_table_csv_passed
%store

Stored 'ingest_create_athena_table_csv_passed' (bool)
Stored variables and their in-db values:
ingest_create_athena_db_passed                    -> True
ingest_create_athena_table_csv_passed             -> True
s3_assignment_path                                -> 's3://sagemaker-us-east-1-883727203134/'
s3_assignment_path_data                           -> 's3://sagemaker-us-east-1-883727203134/dataset.csv
s3_data_path                                      -> 's3://sagemaker-us-east-1-883727203134/dataset.csv
s3_public_path                                    -> 's3://sagemaker-us-east-1-883727203134/'
setup_dependencies_passed                         -> True
setup_s3_bucket_passed                            -> True

In [65]:
#HW Problem 1
#List artist, track_name, and popularity for songs that have a popularity greater than or equal to 99
statement = """SELECT artists, track_name, popularity FROM {}.{}
    WHERE popularity >= 99""".format(
    database_name, table_name_csv
)
print(statement)
df = pd.read_sql(statement, conn)
df.head(5)

SELECT artists, track_name, popularity FROM dsoaws.dataset_csv2
    WHERE popularity >= 99

/tmp/ipykernel_363/2974955258.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

                artists                 track_name  popularity
0  Sam Smith;Kim Petras  Unholy (feat. Kim Petras)         100
1     Charlie Brown Jr.               Prazo Longo"         333
2          Smyang Piano                    Vol. 4"      134340
3  Sam Smith;Kim Petras  Unholy (feat. Kim Petras)         100

In [66]:
#HW Problem 2
#List artists with an average popularity of 92
statement = """SELECT artists FROM {}.{}
    WHERE popularity >= 99""".format(
    database_name, table_name_csv
)
print(statement)
df = pd.read_sql(statement, conn)
df.head(5)

SELECT artists FROM dsoaws.dataset_csv2
    WHERE popularity >= 99

/tmp/ipykernel_363/3373589956.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

                artists
0  Sam Smith;Kim Petras
1     Charlie Brown Jr.
2          Smyang Piano
3  Sam Smith;Kim Petras

In [67]:
#HW Problem 3 
#List the Top 10 genres with the highest average energy
statement = """SELECT 
    track_genre,
    ROUND(AVG(energy), 4) AS average
FROM {}.{}
GROUP BY track_genre
ORDER BY average DESC
LIMIT 10""".format(
    database_name, table_name_csv
)
print(statement)
df = pd.read_sql(statement, conn)
df.head(5)

SELECT
    track_genre,
    ROUND(AVG(energy), 4) AS average
FROM dsoaws.dataset_csv2
GROUP BY track_genre
ORDER BY average DESC
LIMIT 10

/tmp/ipykernel_363/2299730281.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

  track_genre    average
0       0.797  1174026.0
1       0.556   691306.0
2      0.0371   629420.0
3      0.0359   614791.0
4       0.492   542000.0

In [68]:
#HW Problem 4
#How many tracks is Bad Bunny on?
statement = """SELECT 
    COUNT(*) AS track_count
FROM {}.{}
WHERE artists = 'Bad Bunny'""".format(
    database_name, table_name_csv
)
print(statement)
df = pd.read_sql(statement, conn)
df.head(5)

SELECT
    COUNT(*) AS track_count
FROM dsoaws.dataset_csv2
WHERE artists = 'Bad Bunny'

/tmp/ipykernel_363/427464341.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

   track_count
0           48

In [69]:
#HW Problem 5
#Show the top 10 genres in terms of popularity, sorted by their most popular track
statement = """SELECT 
    track_genre,
    MAX(popularity) AS max_popularity
FROM {}.{}
GROUP BY track_genre
ORDER BY max_popularity DESC
LIMIT 10""".format(database_name, table_name_csv)
print(statement)
df = pd.read_sql(statement, conn)
df.head(5)

SELECT
    track_genre,
    MAX(popularity) AS max_popularity
FROM dsoaws.dataset_csv2
GROUP BY track_genre
ORDER BY max_popularity DESC
LIMIT 10

/tmp/ipykernel_363/2548206916.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

  track_genre  max_popularity
0           4          134340
1       dance             100
2         pop             100
3      latino              98
4   reggaeton              98